@{
    var username = Context.Session.GetString("Username");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestWebStagiaire2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestWebStagiaire2024.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 px-5">
            <div class="container-fluid">
                <h1>Keven Ouellet - Test Stagiaire</h1>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-3">
                        @if (username is not null)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["Title"]?.ToString() == "Accueil" ? "fw-bold" : "") text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Logout">Déconnexion</a>
                            </li>
                            <li class="ms-auto align-self-center">
                                <strong>@username</strong>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["Title"]?.ToString() == "Connexion" ? "fw-bold" : "") text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(ViewData["Title"]?.ToString() == "Inscription" ? "fw-bold" : "") text-dark" asp-area="" asp-controller="Auth" asp-action="Register">Inscription</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TestWebStagiaire2024
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
